---
- stat: path=/etc/php/{{ php.version }}/fpm/php.ini
  register: phpfpm

- stat: path=/etc/php/{{ php.version }}/cli/php.ini
  register: phpcli

- include: php-fpm.yml
  when: phpfpm.stat.exists

- include: php-cli.yml
  when: phpcli.stat.exists